# --- macOS System Files ---
# General macOS metadata
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

/frontend/build
/frontend/node_modules
/frontend/.svelte-kit
/target
/.agent

/.scripts


